a {
    text-decoration: none;
    color: #0000AF;
}

a:hover {
    text-decoration: underline;
    color: darkred;
}

body {
    font-family: Helvetica;
    padding: 0 0 0 0;
    background-color: #5f5f5f;
    background-image: url(img/body-background.jpg);
    background-position: top left;
    background-repeat: repeat-y;
}

h1 {
    margin: 10px 0 15px 0;
    color: #ffffff;
    text-align: center;
}

h2 {
    font-size: 26px;
    margin: 10px 0 20px 0;
    text-align: center;
    font-weight: bold;
}

h3 {
    margin: 15px 0 15px 0;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 5px;
}

ul {
    padding: 0 0 0 50px;
}

ol {
    padding: 0 0 0 50px;
}

img {
    text-align: center;
}

.navigation {
    text-align: center;
}

.navigation a {
    color: #0000AF;
    text-decoration: none;
}

.navigation li {

  margin: 0;
  padding: 5px;
  border: 1px solid orange;
    display: inline;
}

.recipes {
    list-style-type: none;
    padding: 0;
}

.recipes p {
  line-height: 16px;
}

.recipes li {
      min-height: 250px;
    border: 1px solid #B56663;
    padding-left: 15px;
}

.recipes h3 {
    border-bottom: 0;
}

.recipes a {
    color: #238480;
    text-decoration: none;
}

.recipes img {
      position: relative;
margin-top: 15px;
margin-bottom: auto;
    float: left;
    padding-right: 10px;
}

.header {
  text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: #FFC2A2;
}

.header a {
  text-align: center;
    color: #ffffff;
}

.main-content {
    width: 500px;
    padding: 20px 20px 20px 20px;
    border: 1px solid #dddddd;
    margin: 30px auto 0 auto;
    background-image: url(img/main-background.jpg);
}

.footer {
  font-style: italic;
    font-size: 11px;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: #efefef;
}
